<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- TITLE -->
    <title>현대BS&C SmartIoT</title>
    
      <!-- META -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow" /> <!-- remove this on prod --> 
    <meta name="format-detection" content="telephone=no" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
   
    <!-- FAVICON -->
    <link rel="shortcut icon" href="images/favicon.ico" />
        
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css" />   
	<link rel="stylesheet" href="css/sub.css" />
	<link rel="stylesheet" href="css/bootstrap.css" />   
    <link rel="stylesheet" href="css/highlight_themes/dark.css" />
    <link rel="stylesheet" href="css/theme-fresh.css">
	<link rel="stylesheet" href="css/ag-grid.css">
    <link rel="stylesheet" href="css/jquery.splitter.css" />   
	<link rel="stylesheet" href="fonts/css.css"/>
	<link rel="stylesheet" href="fonts/nanummyeongjo.css"/>
	<link rel="stylesheet" href="fonts/nanumgothic.css"/>
         
    <!-- JS -->
	<script src="js/angular.min.js"></script>
    <script src="js/jquery.1.11.1.js"></script> 
	<script src="js/bootstrap.min.js"></script>
	<script src="js/ag-grid.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>	
	<script src="js/bootstrap-filestyle.min.js"></script>
	<script src="js/OtpApi.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="jscore/coreVariables.js"></script>
	<script src="jscore/coreFunctions.js"></script>
	<script src="js/bootbox.min.js"></script>	
	<script src="js/jquery.splitter-0.14.0.js"></script>		
	<script src="jscore/monitoring.js"></script>
	<script src="jscore/loginApi.js"></script>
	
</head>
<body class="Attribute" ng-app="agApps">

<header>

<!-- ********* HEADER ********* -->
<div id="header_inner" class="wrap">
	<div id="logo">
		<a href="monitoring.html"><img src="images/logo.png" alt="현대BS&C" /></a>
	</div>
	<h1 id="addrIP"></h1>
</div>
</header>

<!--  ********* MAIN MENU  ********* -->


<!-- </header>
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		a class="navbar-brand" href="#">Menu</a
	</div>
	<div id="navbar" class="collapse navbar-collapse main_nav">
		<ul class="nav navbar-nav">
			<li><a href="monitoring.html">관제&모니터링</a></li>	
			<li><a href="instance.html">제어목록설정</a></li>					
		</ul>
	</div>
	<div id="menu_icon">
		<ul>			
			<li><a href="debug.html"><span class="glyphicon glyphicon glyphicon-warning-sign" aria-hidden="true"></span></a></li>
			<li><a href="#" onclick="userInfo()" title="유저정보"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
			<li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
			<li><a href="#" onclick="versionInfo()" title="SmartIoT정보"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></li>
			<li><a href="#" onclick="smartIotMenual()" title="도움말"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></li>
			<li><a href="#" onclick="navIconLogout()" title="로그아웃"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
		</ul>
	</div>
	/.nav-collapse
</div>
</nav> -->

<nav id="navBar">
	<div id=nav_group>
		<div id=menu_items>
			<ul class="horizontalUl">
				<li><a class="activeItems" href="monitoring.html">관제&모니터링</a></li>	
				<li><a href="instance.html">제어목록설정</a></li>			
			</ul>
		</div>
		<div id="menu_icon">
			<ul class="horizontalUl">
				<li class ="serverMessageInfo"><a href="#" data-toggle="modal" style="color:red" data-target="#serverMessagePopUp" title="세션종료상세" onclick="serverMessageListFunc()"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></a></li>
				<li class ="serverMessageInfo"><span style="color:white">세션종료 알림 </span><label style="color:yellow;margin-bottom: 0px" id="serverMessageCount"></label></li>
				<li><a href="#" onclick="userInfo()" title="유저정보"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
				<li><a href="#" onclick="versionInfo()" title="SmartIoT정보"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></li>
				<li><a href="http://222.96.103.243:9000/manual/smartIotHelper.pdf" target="adapterDocument" title="도움말"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></li>
				<li><a href="#" onclick="navIconLogout()" title="로그아웃"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
			</ul>
		</div>
	</div>
	<!--/.nav-collapse -->
</nav>

<!-- 모달 팝업 -->
<div class="modal fade" id="popUpAttribute" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
   <div class="modal-dialog">
   	    
   	    <button id="progressUpload" class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
   	    <!-- <div id="progressUpload" class="progress">
		  <div id="cntProgressUpload" class="progress-bar progress-bar-striped active" role="progressbar"
		  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
		    0%
		  </div>
		</div> -->
       <div class="modal-content">
          <div class="modal-header modalTitle">
	         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	         <h4 class="modal-title" id="myModalLabel">속성 등록</h4>
            </div>  
            <div class="modal-body modalHeightSize">
	            <div class="popUpContents">            
	            	<div class="form-group col-xs-12">   
		              <label class="col-xs-3 control-label modalLabel"><span class="essentialKey">*&nbsp;</span>속성키</label>
			          <div class="col-xs-9"><input id="instanceAttrKey" type="text" placeholder="Attribute Key" class="form-control"></div>
			       </div>
		
			       <div class="form-group col-xs-12">   
		              <label class="col-xs-3 control-label modalLabel">&ensp;속성이름</label>
			          <div class="col-xs-9 "><input id="instanceAttrName" type="text" placeholder="Attribute Name" class="form-control"></div>
			       </div> 
		 
			       <div class="form-group col-xs-12">   
		              <label class="col-xs-3 control-label modalLabel">&ensp;속성값타입</label>
			          <div class="col-xs-9"><input id="instanceAttrValueType" type="text" placeholder="Attribute Value Type" class="form-control"></div>
			       </div>
		
			       <div class="form-group col-xs-12">   
		              <label class="col-xs-3 control-label modalLabel">&ensp;속성값</label>
			          <div class="col-xs-9"><input id="instanceAttrValue" type="text" placeholder="Attribute Value" class="form-control"></div>
			       </div>
		
			       <div class="col-xs-12">   
		              <label class="col-xs-3 control-label modalLabel">&ensp;비고</label>
			          <div class="col-xs-9"><input id="instanceAttrRemark" type="text" placeholder="Attribute Remark" class="form-control"></div>
			       </div>
	            </div>
          </div>
	      <div class="modal-footer popUpFooter">
		  	<button type="button" onclick="AttributeInstall();" class="btn popUpDefaultBtn">등록</button>
		  	<button type="button" class="btn popUpCancleBtn" data-dismiss="modal">취소</button>
	       </div>
       </div>
    </div>
</div>  

<div class="modal fade" id="serverMessagePopUp" data-backdrop="static"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button id="sessionListCloseBtn" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">세션종료목록</h4>
			</div>
			<div class="modal-body">
				<div ng-controller="serverMessageCtrl">
					<div ag-grid="gridOptions" class="ag-fresh" style="wdth: 350px; height: 150px;"></div>
				</div>
				<div class="frame_inner_search"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary modalDefaultBtn" data-dismiss="modal" onclick="clearSessionDisConnectFunc()">닫기</button>
			</div>
		</div>
	</div>
</div>
	
<div id="MySplitter" class="contents wrap">
	<!--  left layer -->
	<div class="frame">
		<div ng-controller="adapterCtrl">
			<h2>아답터 목록 <span class="search"></span></h2>
			<p class="searchbar">
				<input class="searchmon" type="search" placeholder="Filter..." id="quickFilterInput" ng-model="gridOptions.quickFilterText"><input class="searchsub" type="image" src="images/api_pages/search2.png">
			</p>
			<p class="btn_group">
				<a href="#" onclick="javascript:showToolPanel(adapterScope); return false;"	title="설정"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a> 
				<a href="#" onclick="javascript:refreshAdapterList(); return false;" title="새로고침"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
			</p>
			<div class="frame_inner">
				<div ag-grid="gridOptions" class="ag-fresh" style="width: 100%; height: 420px;"></div>
				<div class="blankAdapter" style="color: RED"></div>
			</div>
		</div>
	</div>
	<!--  end.left layer -->
	
	<!--  right layer -->
	
	<div id="sWrap">		
		<div class="frame">
				<div ng-controller="instanceCtrl">
				<h2>PLC 목록<span class="search"></span></h2>
				<p class="searchbar"><input class="searchmon" type="search" placeholder="Filter..." id="quickFilterInput" ng-model="gridOptions.quickFilterText"><input class="searchsub" type="image" src="images/api_pages/search2.png"></p>
				<p class="btn_group">
				<a href="#" onclick="javascript:showToolPanel(instanceScope); return false;" title="설정"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
				<a href="#" onclick="javascript:refreshInstanceList(); return false;" title="새로고침"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
				</p>
				<p class="control1">
					<a href="#" id="stopInstanceActivityBtn" title="정지" onclick="javascript:checkIid('stop'); return false;"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></a>
					<span id="stopInstanceNonActivityBtn" class="glyphicon glyphicon-stop" aria-hidden="true"></span>
					
					<a href="#" id="startInstanceActivityBtn" title="시작" onclick="javascript:checkIid('start'); return false;"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
					<span id="startInstanceNonActivityBtn" class="glyphicon glyphicon-play" aria-hidden="true"></span>
				</p>
				<div class="frame_inner">
					<!-- angular-grid table -->
					<div ag-grid="gridOptions" class="ag-fresh topGridContents" style="width: 100%; height: 153px;"></div>
					<!-- 영진추가 -->
					<div class="blankInstance" style="color:RED"></div>
					<!-- angular-grid table -->
				</div>
			</div>
		</div>
		<div class="frame">
			 <div ng-controller="attributeCtrl">
				<h2>속성 목록 <span class="search"></span></h2>
				<p class="searchbar"><input class="searchmon" type="search" placeholder="Filter..." id="quickFilterInput" ng-model="gridOptions.quickFilterText"><input class="searchsub" type="image" src="images/api_pages/search2.png"></p>
				<p class="btn_group">
				<a href="#" onclick="javascript:showToolPanel(attributeScope); return false;" title="설정"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
				<a href="#" onclick="javascript:refreshAttributeList(); return false;" title="새로고침"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
				</p>
				
				<p class="control1">
					<a href="#" id="plcStopActivityBtn" title="정지" onclick="javascript:checkMonitoring('stop'); return false;"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></a>
					<span id="plcStopNonActivityBtn" class="glyphicon glyphicon-stop" aria-hidden="true"></span>  
					<a href="#" id="plcStartActivityBtn" title="시작" onclick="javascript:checkMonitoring('start'); return false;"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
					<span id="plcStartNonActivityBtn" class="glyphicon glyphicon-play" aria-hidden="true"></span>  
					<a href="#" id="plcMonitoringActivityBtn" title="모니터링" onclick="javascript:checkMonitoring('monitor'); return false;"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
					<span id="plcMonitoringNonActivityBtn" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>  
				</p>
						
				<div class="frame_inner">
				<!-- angular-grid table -->
					<div ag-grid="gridOptions" class="ag-fresh downGridContents" style="width: 100%; height: 153px;"></div>
					<!-- 영진추가 -->
					<div class="blankAttribute" style="color:RED"></div>
				<!-- angular-grid table -->
				</div>
			</div>
		</div>
		<!--  end.right layer -->
	</div>
</div>

<!-- END .contents -->
</body>
</html>