 /*
 * Author: 이나라 (PIBS)
 *
 * SUMMARY:
   1) WEB FONTS				: NanumGothic, NanumGothicBold
   2) RESET
   3) ACCESSIBILITY HELPER
   4) BUTTONS AND FORM UI
   3) GLOBAL
   4) COMPONENTS
   5) HEADER
   6) MENU
   7) LOGIN
   8) MAIN PAGE
   9) SUB PAGES
*/


/***************************************/
/* WEB FONTS */
/***************************************/
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


/***************************************/
/* RESET */
/***************************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,time,figure,article,nav,header,footer,hgroup,video,audio,aside,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0; 
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	font-family: NanumGothic, Arial, Helvetica, dotum, sans-serif;
}
a{ text-decoration:none}
ol,ul {	list-style: none;}
table {	border-collapse: separate;	border-spacing: 0;}
caption,th,td {	text-align: left;	font-weight: normal;}
figure,article,header,footer,nav,hgroup,video,audio,aside {display: block;}

/* mobile */
*{outline: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -webkit-tap-highlight-color: transparent; }
html{height:100%;}
body{background:url(../images/bg_pattern.png) repeat; overflow: auto; height:100%;}
/**************************************************/
/* ACCESSIBILITY HELPER */
/**************************************************/
.screen_reader{
    overflow:hidden !important; 
    text-indent: -9999px !important; 
    display: inline-block !important; 
    height: 0 !important; 
    width: 0 !important;
}


/***************************************/
/* GLOBAL */
/***************************************/

/* Hide large screen content */
#topbar,
#weather,
#quickmenu,
footer{
    display: none;
}
.container{
	position: relative;
}
.container #menu_icon{
	position: absolute;
    top: 9px;
    right: 0px;
}
.container #menu_icon li {
	float:left;
	padding:0 6px;
}
.container #menu_icon li a{
	color: #BABCBF;
}
/* Sub container style */
.sub_container {
    background: #EDEDED;
    float: left;
    width: 100%;
    padding-bottom:30px;
}

/* .first_contensts {
    width: 40%;
	float: left;
} */
/* .second_contensts {
    width: 55%;
	float: right;
} */
.contents .frame{
    background: #fff;
    overflow: hidden;
    height: 100%;
}


/***************************************/
/* BUTTONS AND FORM UI */
/***************************************/

/* Remove input default style  */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="submit"],
input[type="text"],
select{
   -webkit-appearance: none;
}

/* Add default font family to input */
input{
   font-family: NanumGothic, Arial, Helvetica, dotum, sans-serif;
}

.primary_button {
    padding: 14px;
    background: #17B24C;
    color: #fff;
    display: block;
    border: none;
    margin: 18px 12px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.button {
    text-align: center;
    display: inline-block;
    padding: 10px 0;
    text-decoration: none;
    background: #4E92FA;  
    color: #FFF;
    border-radius: 2px;
    border: none;     
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    font-size: 17px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="search"],
select {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 0px;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="search"]{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
}


/* Selectbox (.select wrap add with main.js) */
select {
    -webkit-appearance: none;
    border:1px solid #ccc;
    height: 32px;   
    font-size: 12px;
    color: #666;
    border-radius:0;
    text-indent: 4px;
    background: rgba(0, 0, 0, 0);
    position: relative;
    z-index: 4;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
    font-weight:bold;
    width:100%;
	padding: 0;
}

.select{
    display:block;
    position:relative;
    z-index:1;
    background: #FFF;
    min-width: 80px;
}

.select:after {
    content:"";
    display:block;
    width:0;
    height:0;
    border-top:5px solid #ccc;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    top: 14px;
    right: 10px;; 
    position:absolute;
    z-index:3;
}

.select:before {
    content:"";
    border-left:1px solid #ccc;
    display:block;
    width:28px;
    height:27px;
    top:6px;
    right:1px; 
    position:absolute;
    z-index:2;
    background:#fff;
}

select:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    outline: none;
}



/***************************************/
/* COMPONENTS */
/***************************************/

/* COMPONENTS GLOBAL */
.components {
    background: #FFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    margin: 8px 12px 5px 12px;
}


/* PAGING */
.paging_classic,
.board_total,
.board_search {
    display: none;
}

.paging_loadmore {
    text-align: center;
}

.paging_loadmore a {
    text-align: center;
    display: inline-block;
    padding: 8px 30px;
    text-decoration: none;
    /*background: #A1C410;*/
    color: #fff;
    border-radius: 3px;
    border: 1px solid #CCC;
    color: #4C4C4C;
    margin-bottom: 10px;
}

.main .paging {
	padding-bottom: 50px;
}

/* LIST BOARD */
.page_news .board {
    margin-bottom: 50px;
}

.board > ul > li:first-child {
    display: none;
}

.board > ul > li > a > span:first-child {
    /* display: none; */
    position: absolute;
    top: 50%;
    height: 20px;
    left: 0;
    margin-top: -10px;
    display: block;
    font-size: 11px;
    font-weight: bold;
    background: #A1C410;
    width: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
}

.board > ul > li {
    border-bottom: 1px solid #ccc;
    position: relative;
}

.board > ul > li > a {
    position: relative; 
    display: block;
    padding: 10px 30px 10px 30px;
}

.board > ul > li > a:hover {
    background: #F3FCCF;
}

.paging {
    clear: both;
    padding-top: 15px;
}

.board > ul > li span {
    font-size: 11px;
    color: #808080;
}

.board > ul {
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

.board > ul > li span.title {
    display: block;
    color: #333;
    font-weight: bold;
    font-size: 14px;
}

.board .time {
    padding: 0 10px;
}

.accordion_content{
    display:none;
    font-size: 14px;
    padding: 20px;
    box-shadow: inset 0 10px 6px -10px rgba(0, 0, 0, 0.3);
    background: #FAFAFA;
}

.board {
    position: relative;
}

.board > ul > li > a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    background: url('../images/arrow_list.png') no-repeat center center;
    background-size: 18px 18px;
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -9px;
    transition: 500ms;
}

.board > ul > li.open > a:after{
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

/* TABLE BOARD */
.table_board th,
.table_board td{
    font-size: 11px;
    text-align: center;
}

.table_board th{
    background: #A1C410; 
    color: #fff;
    font-weight: bold;
    padding: 15px 8px;
}

.table_board td{
    padding: 10px 8px;
}

.table_board tr:last-child td{
    padding-bottom: 20px;
}

table.table_board {
    width: 100%;
    border-bottom: 1px solid #CCC;
}


td.num, td.time {
    color: #7C7C7C;
}



/* GOOGLE MAPS LABEL */
.custom_labels {
     color: #fff;
     background-color: transparent ;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 14px;
     text-align: center;
     width: 34px; 
     padding-top: 10px;   
}

.custom_labels_circle {
    font-size: 22px;
    font-weight: bold;
    width: 100px;
    text-align: center;
}


/*  AREA CHART */
.area_chart_component {
    padding: 8px 12px 5px 12px;  
    background: #EDEDED;
}

.area_chart {
    background: #FFF;  
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 400px;
}


/* COLUMN CHART */
.column_chart_component {
    padding: 8px 12px 5px 12px;
    background: #EDEDED;
}

.column_chart {
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    width:100%; 
    height: 300px;
}


/*  NOTIFICATION */
.notification_component {
    margin: 8px 12px 5px 12px;  
    padding: 20px 20px 20px 80px;
    background: #FFFFFF;
    position: relative;    
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    font-size: 14px;
}

.notification_component:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    background: #4F4F4F;
    width: 70px;
    z-index:3;
}

.notification_component:before {
    position: absolute;
    content: '';
    top: 50%;
    margin-top: -30px;
    left: 26px;
    line-height: 30px;
    width: 18px;
    text-align: center;
    color: #fff;
    font-weight:bold; 
    z-index:4;
    font-size: 20px;
}


/*  INFO */
.info_component ul {
    padding: 12px;
}

.info_component ul li {
    /* padding: 5px 0; */
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

.info_component ul li:first-child {
    border-top: 1px solid #eee;
}

.info_component ul li b {
    display: inline-block;
    width: 30%;
    background: #F0F0F0;
    padding: 5px 2%;
    margin-right: 2%;
}



.info_component ul li span {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    width: 62%;
}

/***************************************/
/* INTRO */
/***************************************/ 
.intro{
	background: url('../images/login_visual.png') no-repeat center top;	
}

.intro>#intro_login>form>button{
    width: 100%;
    font-size: 20px;
    font-family: open-sans;
    letter-spacing: 3px;
}

#intro_login h2 {
	display: inline-block;
    float: right;
    margin-top: 580px;
    margin-right: 40px;
}
.form-signin #user_sid{
	background: url('../images/intro_icon_did.png') no-repeat 10px center;
}
.form-signin #user_id{
	background: url('../images/intro_icon_id.png') no-repeat 10px center;
}
.form-signin #user_pass{
	background: url('../images/intro_icon_pw.png') no-repeat 10px center;
}
.form-signin p.line{
	margin-top: 25px;
    border-top: 1px solid #e9e9e9;
    padding-top: 15px;
}

/***************************************/
/* HEADER */
/***************************************/ 

/* HEADER GLOBAL */
header {
    position: relative;
	background:#eee;
	box-shadow: 0 0 11px 2px rgba(0, 0, 0, .3);
    z-index: 9;
}

.wrap {
	width:1200px; 
    margin: 0 auto;
}

#header_inner {
    position: relative;
	height:40px;
	background: #eee;
}


/* LOGO */
#logo {
    float: left;
}

#logo img {
    width: 77px;
    height: auto;
   	margin-right: 10px;
}

#header_inner h1 {
    display: inline-block;
    margin: 0 0 0 10px;
    color: #585b63;
    font-size: 18px;
    line-height: 40px;
}

.contents {
    z-index: 1;
	margin-top:16px;
	overflow: hidden;
}

.contents #domainStyle {
	width: 1200px;
	height: 532px;
} 

/* MENU BUTTON AND NEWS BUTTON */
#btn_menu,
#btn_news { 
    position:absolute;
    top: 0;
    padding:10px;
    height:22px
}

#btn_menu{ 
    left:0;
}

#btn_news{ 
    right:0
}

#btn_news img {
    width: 25px;
    display: block;
    height: auto;
}

#test{
    box-sizing: content-box;
    -ms-touch-action: none;
    -moz-background-clip: padding;
    -webkit-text-size-adjust: none;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Verdana,Arial,sans-serif;
    font-style: normal;
    font-size: 13px;
    border-color: #c7c7c7;
    background: #fff;	
}


/* NOTIFICATION */
.message_num {
    border-radius: 8px;
    background: red;
    line-height: 16px;
    height: 16px;
    font-size: 11px;
    display: block;
    min-width: 16px;
    position: absolute;
    top: 2px;
    left: 28px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, dotum, sans-serif;
}



/* MENU LOGIN */
#menu_login {
    background: #54575C;
    padding: 10px 22px;
}

#menu_login input {
    width: 66%;
    padding: 8px 2% 8px 32%;
    border: none;
    border-radius: 3px;
    /* max-width: 260px; */
    margin: auto;
    display: block;
}

#menu_login_user,
#menu_login_pwd{
    background: #FFF no-repeat 20% center;
    background-size: 14px auto;
}

#menu_login_user {
    background-image: url(../images/icon_login_username.png);
}

#menu_login_pwd {
    background-image: url(../images/icon_login_password.png);
}


#menu_login label {
    display: block !important;
}

#menu_login p {
    margin: 0 auto 7px auto;
    width: 100%;
    max-width: 260px;
}

#menu_login h2 {
    color: #fff;
    padding-bottom: 10px;
    font-size: 16px;
}

#menu_login input[type="submit"] {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    background: #17B24C;
    color: #fff;
    max-width: 260px;
}

#menu_login:after {
    content: '';
    height: 1px;
    display: block;
    background: #17B24C;
    margin-top: 20px;
}


/* MENU INBOX */
#menu_inbox {
    background: #54575C;
    padding: 10px 0;
}

#menu_inbox ul li {
    color: #A8ACB3;
    position: relative;
    float: left;
    margin-bottom: 10px;
    width:100%;
    padding: 0;
    overflow:hidden;
}

#menu_inbox ul li:first-child {
    display: block;
}

.rank {
    color: #fff;
    font-size: 13px;
    padding: 2px 13px;
    /* position: relative; */
    /* top: -28px; */
    /* right: 0; */
    background: #333;
    border-radius: 3px;
    float: left;
    margin-left: 22px;
}

.rank.caution {
    background: #7553E8;
}

#menu_inbox ul li p {
    font-size: 12px;
    height: 50px;
    padding: 0 22px;
    overflow: hidden;
}

#menu_inbox ul li time {
    font-size: 11px;
    float: right;
    padding-right: 22px;
    padding-top: 3px;
}

#menu_inbox ul {
    float: left;
    width: 100%;
}


#menu_inbox h2 {
    font-size: 15px;
    color: #fff;
    margin-left: 22px;
    padding-bottom: 12px;
}


.menu_inbox_nav {
    clear: both;
    text-align:center;
}

.menu_inbox_nav nav {
    display: inline-block;
}

.menu_inbox_nav span {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #74787B;
    border-radius: 50%;
}

.menu_inbox_nav span.current{
    background:#17B24C;
}

.menu_inbox_nav a {
    height: 20px;
    width: 50px;
    display: inline-block;
    background: no-repeat center center;
    background-size:4px auto ;
    vertical-align: middle;
}

.menu_inbox_nav a.next{
    background-image: url('../images/inbox_nav_next.png') ;
}

.menu_inbox_nav a.prev{
    background-image: url('../images/inbox_nav_prev.png') ;
}

/* THE MENU */

#menu_btn_monitoring > a{
    background-image: url('../images/menu_01.png') ;
}
#menu_btn_forecast_tracking > a{
    background-image: url('../images/menu_02.png') ;
}
#menu_btn_news > a{
    background-image: url('../images/menu_03.png') ;
}
#menu_btn_inspection > a{
    background-image: url('../images/menu_04.png') ;
}
#menu_btn_shipping-start > a{
    background-image: url('../images/menu_05.png') ;
}

#menu_btn_introduce,
#menu_btn_statistics,
#menu_btn_admin {
    display: none;
}

.main_nav a.current, .main_nav a.current:active {
	color: #ffffff;
    border-bottom: 5px solid #fff;
    box-sizing: border-box;
    height: 35px;
}

.main_nav a:active {
	color: #ffffff;
    border-bottom: 5px solid #fff;
    box-sizing: border-box;
    height: 35px;
}

.main_nav .accordion_content  a {
    background: none;
    border: none;
} 
.main_nav .accordion_content {
    padding: 10px 0;
    background:#1C1F24;
}

/* OVERLAY */
#overlay{
    opacity :0;
    -webkit-transition:opacity 300ms ease;
    transition:opacity 300ms ease;
}

#overlay.open {
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    z-index: 29;
    opacity:1;
}




/***************************************/
/* MAIN PAGE */
/***************************************/

/* MAIN GLOBAL */
.main .frame h2{
	font-size:11px;
	color:#626262;
	line-height: 25px;
    text-align: center;
    margin-top: 0;
	background:none;
    padding: 0;
	height:auto;
}
.main .frame{
	padding:20px;
}
.main .title{
	position: relative;
}
.main .title .btn_group{
    position: absolute;
    top: 54px;
}
.main .title .btn_group a{
    background: #a2a2a8;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: inline-block;
    line-height: 32px;
    text-align: center;
    font-size: 1.1em;
}
.main .title .btn_group a:hover{
    background: #717171;	
}
.main .title .monitoring_view{
    position: absolute;
    top: 54px;
	right:0;
}

.frame h2{
    background: #474f70;
    height: 36px;
    line-height: 36px;
    margin-top: 0;
    color: #fff;
    font-size: 13px;
    padding-left: 20px;
}
.main .frame .part_1{
	overflow:hidden;
    height: 400px;
    padding: 0 20px;
}
.main .frame .part_1 ul{
    width: 32.6%;
    border: 1px solid #527fa7;
    border-radius: 5px;
    margin-left: 1%;
    font-size: 11px;
	color:#626262; 
    padding-bottom: 15px;
}

.main .frame .part_1 ul li{
	padding: 5px 15px;
}
.main .frame .part_1 ul li.title{
	height:30px;
	background:#527fa7;
	line-height:30px;
	color:#fff;
    padding: 0 15px;
}
.main .frame .part_1 ul li span.s_title{
	display: inline-block;
    width: 85%;
}
.main .frame .part_1 ul li span.count{
    color: #527fa7;
    text-decoration: underline;
	display: inline-block;
	width:15%;
	text-align:right;
}
.main .frame .part_1 ul:first-child{
    margin-left: 0%;
}


.main .frame .part_1 ul:nth-child(1), .main .frame .part_1 ul:nth-child(2){
	float:left;
}

.main .frame .part_1 ul:nth-child(3){
	float:right;
}

.main .frame .part_2{
    padding: 0 20px;
    height: 200px;
}



/* MONITORING SECTION */
.frame_inner {
    padding: 0 20px 20px;
    clear: both;
}
.frame h2 span.search{
    float: right;
    margin-right: 20px;
}
.frame .btn_group{
	padding-left:20px;
	float: left;
}
.frame .btn_group a{
    background: #a2a2a8;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    font-size: 0.75em;
}
.frame .btn_group{
	padding-left:20px;
	float: left;
}
.frame .control, .frame .control1{
	float: right;
	padding-right:20px;
	margin: 0 0 5px;
}
.frame .control a{
    color: #474F70;
    font-size: 1.3em;
}

.frame .control1 a{
    color: #474F70;
    font-size: 1.5em;
}

/* instance */
/*.instance #navbar ul li:nth-child(2) a, .device #navbar ul li:nth-child(2) a{
    color: #ffffff;
    background-color: transparent;
    border-bottom: 5px solid #fff;
    box-sizing: border-box;
    height: 35px;
}*/
.instance .contents{
	background-position: 50% top;
}
/* .instance .first_contensts, .instance .second_contensts{
	width:47.5%;
} */

.instance .frame .half{
    width: 50%;
    float: left;
    box-sizing: border-box;
    border-right: 3px solid #DEDEDE;
}
.instance .frame .half:last-child{
	border-right:0;
}


/* device */
.device textarea {
    border: 1px solid gainsboro;
	width:618px;
}
.chart1{
	margin-top:10px;
}

.device .chart{
    width: 100%;
    height: 180px;
    margin-top: 20px;
}
/* Filter */
.searchmon {
	border: 1px solid #C0C0C0 !important;
	border-radius: 100px !important;
	width: 130px;
	padding-left:30px !important;
	color: #696969
	position: absolute;
	z-index:2000;
	margin-top: -25px  10px auto auto;
	height: 25px;
}


.searchsub {
	position:absolute;
	margin-left:-125px;
	margin-top:3px;
	border-radius: 5px;
	cursor:pointer;
}
.action {
	color: #483D8B;
	text-decoration: none;
	border: 1px solid #483D8B;
	box-shadow: #483D8B 0px 2px 2px;
	padding: 4px 5px;
}
.action:hover {
	color: #483D8B;
	text-decoration: none;
	border: 1px solid #483D8B;
	box-shadow: #483D8B 0px 2px 2px;
	padding: 4px 5px;
}
.action:hvisited {
	color: #483D8B;
	text-decoration: none;
	border: 1px solid #483D8B;
	box-shadow: #483D8B 0px 2px 2px;
	padding: 4px 5px;
}
.action:active {
	color: #483D8B;
	text-decoration: none;
	border: 1px solid #483D8B;
	box-shadow: #483D8B 0px 2px 2px;
	padding: 4px 5px;
}
.domain select{
    width: 140px;
    font-size: 12px;
}
.searchbar{
	z-index:1000;float:right;margin-top:-40px;margin-right:10px;
}
button.server_save {
    float: right;
    margin-right: 20px;
    border: 0;
    background: none;
}

.device_view textarea{
	width:100%;
	height:420px;
}
.device_view .chart{
	margin-top:40px;
}
.device_view p.control .glyphicon-trash{
    font-size: 15px;
}
.setting .frame_inner ul{
	padding: 20px 10px;
}
.setting .frame_inner li.title{
    float: left;
    width: 30%;
	padding: 10px 0;
    line-height: 32px;
}
.setting .frame_inner li.txt{
    float: left;
    width: 70%;
	padding: 10px 0;
}

.debug h2 p{
	float:left; 
	width:100px;

}
.debug h2 input#server{
	float: left;
    width: 50%;
    height: 28px;
    box-shadow: none;
    border: 0;
    margin-top: 4px;
    line-height: 28px;
    padding-left: 20px;
}
.debug h2 p.control{
	width:auto;
}
.debug h2 p.control span {
    float: right;
    width: 120px;
    text-align: right;
}
.debug h2 p.control .btn{
    border-bottom: 0;
    margin-top: 4px;
    height: 28px;
    line-height: 28px;
    margin-left: 5px;
    padding: 0 18px;
}
.debug_contents {
    padding: 10px 20px;
}
.debug_contents #debugtxt{
    width: 90%;
    height: 125px;
}
.debug_contents button.btn{
	width: 9%;
    height: 125px;
	padding: 10px;
}
.debug_contents2 {
    padding: 10px 20px;
}
.debug_contents2 #debugtxt{
    width: 100%;
    height: 250px;
	padding: 10px;
}
p.control .glyphicon-trash{
    margin-top: 10px;
    border: 0;
    background: none;
}

.searchDevGrid {
	float: left;
	margin-top: 10px;
	width:100%;
	position:relative;
}
.frame_inner_search {
    padding: 0 20px 10px;
	clear: both;
}
.addform_confirm {
	clear: both;
}
span.instance_type_text, span.function_type_text, span.attribute_type_text, span.devicepool_type_text,
span.device_type_text, span.userpool_type_text, span.user_type_text, span.userfilter_type_text{
    font-family: NanumGothic;
    font-weight: 500;
    background: #474f70;
    height: 36px;
    line-height: 36px;
    margin-top: 0;
    color: #fff;
    font-size: 13px;
}
div.paramLabels{;
	margin: 0 auto;
	width: 90%;
	height: 34px;
	clear: both;
}
div.paramLabels label{
	float: left;
	width: 50%;
}
div.paramInputs{;
	margin: 0 auto;
	width: 90%;
	height: 34px;
	clear: both;
}
div.paramInputs input{
	float: left;
	width: 50% !important;
}

/** 팝업 공통 효과 **/

.modal-dialog .modal-content .dropdown-toggle{
	padding:6px 8px;
	background-color: #f8f8f8;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-align:left;
	color:#111;
	
}
.modal-dialog .modal-content .dropdown-toggle:HOVER,
.modal-dialog .modal-content .dropdown-toggle:ACTIVE{
	background-color: #e7e7e7;
    box-shadow: none;
    -webkit-box-shadow: none;
	
}

.modal-dialog .modal-content .dropdown-toggle>span{
	float: right;
    margin-top: 10px;	
}   


.modal-dialog .modal-content .itemSearchBtn{
    float: right;
    margin-left: 10px;
    padding: 5px 15px;
}

.modal-dialog .modal-content .modalHeightSize{
    height: 100%;
    overflow: auto;
    overflow-x:hidden;
    max-height: 450px;	
}

.modal-dialog .popUpContents{
	display: inline-block;
}

.modal-dialog .popUpFooter .popUpCancleBtn{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 5px 25px;
}

.modal-dialog .popUpFooter .popUpCancleBtn:HOVER{
    background-color: #e6e6e6;
}
.modal-dialog .popUpFooter .popUpDefaultBtn{
    color: #fff;
    padding: 5px 25px;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.modal-dialog .popUpFooter .popUpDefaultBtn:HOVER {
	background-color: #286090;
}


.modal-dialog .modal-content input[type="text"],
.modal-dialog .modal-content input[type="number"]{
  padding-left: 8px;
  padding-right: 8px;
}
.modal-dialog .modal-content .rightLabelPadding{
	padding-right: 0;
}

.modal-dialog .modal-content .updateBtnAttribute, .modal-dialog .modal-content .linkBtn{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 4px 12px;
    margin-top: 3px;
}

.modal-dialog .modal-content .essentialKey{
	color:red;
}

.modal-dialog .modal-content #adapterIntroGroupStyle{
	padding: 0 30px 0 30px;
}
.modal-dialog .modal-content #adapterIntroGroupStyle>h3{
	margin-top: 5px;
}

.modal-dialog .modal-content .aTagLinkStyle{

	border-bottom: 1px solid;
    color: #009dee;
    background: initial;
    text-decoration: initial;	
}

.modal-dialog .modal-content .aTagLinkStyle:HOVER{

    color: #009dee;
    background: initial;
    text-decoration: initial;	
}

.modal-dialog .modal-content #adapterDescription{
	margin-bottom: 20px;
}

.modal-dialog .modal-content #adapterLinkAddr{
    text-align: right; 
}

#devicePoolSearchModal{
	display: none;
}
.seachHorizontalBtn{
    position: absolute;
    width: 350px;
    left: 50%;
    margin-left: -175px;
    z-index: 1000;
    display: block;
}

.controlerValueBtn{
    background: #a2a2a8;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    font-size: 0.5em;
    margin-top: 8px;
}


.modal-content .modal-body .modalLabel{
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    padding-top: 7px;
} 


/** Loading Start CSS **/
#progressUpload{
	
	display: none;
    position: absolute;
    z-index: 3000;
    top: 50%;
    left: 35%;
    width: 30%;
    font-size: 21px;
    height: 18%;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#sessionControlValue2,#sessionControlValue5{
	padding-left: 0px;	
}
#suspendNonActivityBtn,
#stopNonActivityBtn,
#startNonActivityBtn{
    color: #BABCBF;
    font-size: 1.3em;
}
.open > .dropdown-menuWidth{
	min-width: 92%;
}

.modal-dialog .modal-content .readonlyStyle{
    cursor: not-allowed;
    background-color: #eeeeee;
    opacity: 1;
}
.open > .dropdown-menuWidth>li>a{
	padding: 3px 10px;
}
/** Loading end CSS **/

#MySplitter{
	border : solid 1px #bcb;
}

.borderStyle{	
    border: solid 1px #bcb;
}

#navBar{
    width:100%;
    background-color: #303641;
    height: 35px;
}

#navBar>#nav_group{
	margin: 0 auto;
    background-color: #303641;
	width:1200px;
    height: 35px;
	line-height: 35px;
}

#navBar>#nav_group>#menu_items{	
    display:inline-block;
}

#navBar>#nav_group>#menu_items .horizontalUl{	
	margin: auto;
	padding: 0;
	
}
#navBar>#nav_group>#menu_items .horizontalUl>li{	
	display: inline-block;
	margin-right: auto;
	list-style: none;
    overflow: hidden;
    position: relative;
}
#navBar>#nav_group>#menu_items .horizontalUl>li>a{	    
	color: #999999;
	padding:5px 25px;
}

#navBar>#nav_group>#menu_items .horizontalUl>li>.activeItems,
#navBar>#nav_group>#menu_items .horizontalUl>li>a:HOVER,
#navBar>#nav_group>#menu_items>.horizontalUl>li>a:FOCUS{	    
    color: #ffffff;
    background-color: transparent;
    border-bottom: 5px solid #fff;
    box-sizing: border-box;
}

#navBar>#nav_group>#menu_icon{	
    display:inline-block;
    float: right;
}

#navBar>#nav_group>#menu_icon .horizontalUl{	
	margin: auto;
	padding: 0;
	
}
#navBar>#nav_group>#menu_icon .horizontalUl>li{	
	display: inline-block;
	margin-right: auto;
	list-style: none;
	padding:0 3px;
    overflow: hidden;
    position: relative;
}
#navBar>#nav_group>#menu_icon .horizontalUl>li>a{	    
	color: #999999;
}

#monitoringNonActivityBtn,
#stopInstanceNonActivityBtn,
#startInstanceNonActivityBtn,
#plcMonitoringNonActivityBtn,
#plcStopNonActivityBtn,
#plcStartNonActivityBtn{
    color: #BABCBF;
    font-size: 1.5em;
}

#domainCancleBtn{
    color: #fff;
    padding: 5px 25px;
    background-color: #337ab7;
    border-color: #2e6da4;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    float: right;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Roboto', sans-serif, nanumgothic;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-right: 20px;
}
