
/* Adapter */
.searchmon {
		border: 1px solid #C0C0C0 !important;
		border-radius: 100px !important;
		width: 180px;
		padding-left:30px !important;
		color: #696969
		position: absolute;
		z-index:2000;
		margin-top: -25px  10px auto auto;
		height: 25px;
}
.searchsub {
	position:absolute;
	margin-left:-171px;
	margin-top:2px;
	border-radius: 5px;
	cursor:pointer;
}
.ng-scope input#quickFilterInput {
    font-family: tahoma;
    font-size: 11px;
}
.action {
	color: #483D8B;
	text-decoration: none;
	border: 1px solid #483D8B;
	box-shadow: #483D8B 0px 2px 2px;
	padding: 4px 5px;
}
.action:hover {
	color: #483D8B;
	text-decoration: none;
	border: 1px solid #483D8B;
	box-shadow: #483D8B 0px 2px 2px;
	padding: 4px 5px;
}
.action:hvisited {
	color: #483D8B;
	text-decoration: none;
	border: 1px solid #483D8B;
	box-shadow: #483D8B 0px 2px 2px;
	padding: 4px 5px;
}
.action:active {
	color: #483D8B;
	text-decoration: none;
	border: 1px solid #483D8B;
	box-shadow: #483D8B 0px 2px 2px;
	padding: 4px 5px;
}
